<% layout('layouts/boilerplate')%>



<div class="container d-flex justify-content-center align-items-center mt-0 mb-4">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <img src="https://images.unsplash.com/photo-1510058592404-bef4baf70440?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8bm92ZWx8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60" alt="" class="card-image-top">
                <div class="card-body">
                    <h5 class="card-title">Register</h5>
                    <form action="/register" class="validated-form" method="POST" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="username">Enter UserName</label>
                            <input class="form-control" type="text" name="username" id="username" autofocus required>
                            <div class="valid-feedback">
                                Look's Good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="email">Enter Email</label>
                            <input class="form-control" type="email" name="email" id="email" required>
                            <div class="valid-feedback">
                                Look's Good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="pass">Enter password</label>
                            <input class="form-control" type="password" name="password" id="pass" required>
                            <div class="valid-feedback">
                                Look's Good!
                            </div>
                        </div>
                        <button class="btn btn-success btn-block">Submit</button>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
</div>